[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none
csharp_style_prefer_switch_expression=false:suggestion
csharp_style_var_when_type_is_apparent=true:silent

[*.{cs,vb}]
dotnet_style_prefer_auto_properties=false:silent
dotnet_style_readonly_field=false:suggestion